<h1>Welcome</h1>
<% @listings.each do |listing| %>
<%= link_to listing_path(listing) do %>
 <div class="menu-card"> 
 <div>
  <%= image_tag @listing.picture if @listing.picture.attached? %>
  </div>
  <h3>Name</h3>
  <%= @listing.name %>
 <hr>
 <% end %>
<% end %> 
 </div>
