<div class='main-headding'><h1>Starshopping</h1></div>
 <div class="menu-container"> 
<% @listings.each do |listing| %>
<%= link_to listing_path(listing) do %>
 <div>
  <%= image_tag @listing.picture if @listing.picture.attached? %>
  </div>
  <h3>Name</h3>
  <%= @listing.name %>
 <hr>
 <% end %>
<% end %> 
 </div>
