

<div class="main">

<h1>Welcome</h1>

  <% @listings.each do |listing| %>
    <%= link_to listing_path(listing) do %>
    <div> 
      <h3>Name</h3>
      <%= listing.name %>
        <%= image_tag listing.picture if listing.picture.attached? %>

    </div>
    <hr>
    <% end %>
  <% end %> 
</div>

