// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


:root{
  font-size: 16px;
   --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #5a5a5f;
  --bg-secondary: #632bca;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

.main{
  display: flex;
  margin-left: 5rem;
  // width: 75%;
  padding: 1rem;
  // display: inline-block;
  width: 100%;
  height: 100%;

}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

form{
    margin-left: 5rem;
  // width: 75%;
  padding: 1rem;
}

// a {
//   padding-top: 3rem;
// }

.card{
  display:flex;
  justify-self: center;
  max-width:100%;
  align-items: center;
  height:100%;
  
}


.cardtextcontainer{
  max-width: 90%;
}

.cardmenu{
  display:flex;
  justify-self: center;
  max-width:50%;
  align-items: center;
  max-height:50%;
  flex-direction: row;
  border-top: solid grey .5px;
  
  // margin: 10px 0px;
  // padding: 1px;
}
 .containermenu{
  display: flex;
  flex-wrap: wrap;
  padding-left: 5rem;
 }

img {
  max-width: 100%;
}